---
import  {featureFlags}  from '@lib/config';

---

<footer class="my-20">
  <p class="text-center text-sm text-slate-600">
    { featureFlags.enableImprint && 
      <a class="hover:underline hover:text-primary-light" href="/impressum">Imprint</a>
    }
    { featureFlags.enableDataprotection && 
      <a class="hover:underline hover:text-primary-light" href="/dataprotection">Dataprotection</a>
    }
  
    <span class="block sm:inline"> Copyright © {new Date().getFullYear()} My company.</span>
  </p>
  
  <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a href="https://mindstorm.digital"  class="hover:underline hover:text-primary-light"> Mindstorm Digital
    </a> 
  </p>
</footer>
