---
import Container from "@components/elements/Container.astro";
import { Icon } from "astro-icon/components";
---

<Container class:list={"!p-0 !m-0 !max-w-screen sticky top-0 bg-white z-40 mt-6 shadow-md"}>
  <nav x-data="{ open: false }" class="p-4">
    <div class="container mx-auto flex justify-between items-center">


      <a href="/" class="text-2xl flex">
        <Icon class="w-7 h-7 hover:text-primary-light pt-0.5" name="logo_min" />
        <span class="px-1 font-bold text-slate-900 hover:text-primary-light">Your</span><span class="text-slate-600">Digital</span>
      </a>

      <!-- Hamburger Menu -->
      <button @click="open = !open" class="md:hidden text-gray-950 focus:outline-none" aria-label="Open Menu">
        <Icon class="w-7 h-7 hover:text-primary-light pt-0.5" name="nav" />
      </button>

      <!-- Desktop Menu -->
      <ul class="hidden md:flex space-x-6">
        <li><a href="/" class="hover:ttext-primary-light">Home</a></li>
        <li><a href="/daisyui" class="hover:text-primary-light">DaisyUI</a></li>
        <li><a href="/404" class="hover:text-primary-light">404</a></li>
      </ul>
    </div>


    <!-- Mobile Menu Fullscreen -->
    <div
      x-show="open"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100"
      x-transition:leave="transition ease-in duration-300"
      x-transition:leave-start="opacity-100"
      x-transition:leave-end="opacity-0"
      class="fixed inset-0 bg-primary text-white flex flex-col items-center justify-center space-y-6 z-50">
      <!-- Close Button -->
      <button
        @click="open = false"
        class="absolute top-6 right-6 text-4xl text-gray-300 hover:text-white focus:outline-none"
        aria-label="Close menue">
        &times;
      </button>

      <a href="/" class="text-2xl hover:text-primary-light">Home</a>
      <a href="/daisyui" class="text-2xl hover:text-primary-light">DaisyUI</a>
      <a href="/404" class="text-2xl hover:text-primary-light">404</a>
    </div>
  </nav>
</Container>
